<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="UseSecureConnection" value="true"/>
    <add key="LDAPServer" value="draco.JGALAN1.JGRAVES.COM"/>
    <add key="LDAPPath" value="DC=JGALAN1,DC=JGRAVES,DC=COM"/>

    <!-- If the UseSecureConnection property is set to false, these need to be specified, otherwise they're ignored -->
    <add key="LDAPUsername" value=""/>
    <add key="LDAPPassword" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
